.mt-75 {
    margin-top: 75px !important;
}
.fetching {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    z-index: 1000;
    display: flex;
    color: #FFF;
    font-size: 5em;
    justify-content: center;
    align-items: center;
}
.spinner {
    animation: spinner 1.5s linear infinite;
}